 
  .account-tab {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    max-width: 300px;
    z-index: 1;
    margin-right: 20px;
  }

.account-tab button {
  width: 80%;
  margin-bottom: 10px;
}

.account-tab .center {
  text-align: center;
}

  