.boton-registro {
    background-color: #590da0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.contenedor-botones {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #590da0;
}
