  .message {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #590da0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    height: auto;
    color: #fff;
  }