.shopping-box {
    display: grid;
    place-items: center;
}

.button-box {
    margin-top: 30px;
}

.box-d{
    width: 600px;
    border-radius: 5px;
    background-color: #590da0;
    padding: 10px;
    margin-top: 30px;
}
.box-l{
    width: 600px;
    border-radius: 5px;
    background-color: #590da0;
    padding: 10px;
    margin-top: 30px;
}

h3{
    font-size: 22px;
}
h2,h3 {
    text-align: center;
    width:100%;
    color: rgb(0, 0, 0);
}

button {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #590da0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: #34085e;
}