
.shopping-box {
    display: grid;
    place-items: center;
}


.button-box {
    margin-top: 30px;
}

.box-d {
    width: 600px;
    border-radius: 10px; 
    background: linear-gradient(to bottom, #4e74ce, #6cb7c1); 
    padding: 20px; 
    margin-top: 30px;
}

/* Estilos para el cuadro de lista */
.box-l {
    width: 600px;
    border-radius: 10px; 
    background: linear-gradient(to bottom, #4f78d7, #6cb7c1); 
    padding: 20px; 
    margin-top: 30px;
}

/* Estilos para encabezados */
h2, h3 {
    text-align: center;
    color: black;
}

h3 {
    font-size: 22px;
}


button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; 
    background: linear-gradient(to bottom, #3164b0, #3a70a6); 
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    border: none; 
}

button:hover {
    background: linear-gradient(to bottom, #32558f, #336699); /* Degradado al pasar el cursor */
}
