/* Estilos de la barra negra superior */
nav {
    background-color: #000;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Estilos de los botones */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ff6f00;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #ff9000;
  }
  