.contenedor-libro {
  display: inline-block;
  width: calc(20% - 20px);
  background-color: #f4ddc9;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  vertical-align: top;
  box-sizing: border-box;
}

.contenedor-libro:hover {
  transform: translateY(-5px);
}

.imagen-libro {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contenedor-texto-libros {
  flex-grow: 1;
}

.nombre-libro {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.autor-libro {
  font-size: 14px;
  margin-bottom: 5px;
  color: gray;
}

.texto-libro {
  font-size: 14px;
  margin-bottom: 10px;
  color:black;
}

.precio-libro {
  font-size: 14px;
  margin-bottom: 10px;
  color:black;
}