
.login-form {
    max-width: 550px;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background: #51109b;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-align: left;
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'] {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #3e215b;
    color: white;
    margin-bottom: 10px;
  }
  
  .login-form p {
    font-size: 15px;
    color: white;
    text-align: left;
  }
  
  .login-form p a {
    color: #000000;
    text-decoration: none;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3e0c6d;
    color: black;
    cursor: pointer;
    font-size: 20px;
  }

  .login-form .center {
    display: grid;
    place-items: center;
  }
  
