.purchase-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    order: -1;
  }
  
  .item {
    background: linear-gradient(to bottom, #2c4d7d, #3a70a6);
    width: 30%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .item:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  