/* Estilos de la barra negra superior */
nav {
  background: linear-gradient(to bottom, #3b619b, #3a70a6); /* Degradado azul y celeste */
  padding: 10px 0;
}

/* Estilos de los botones */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  background: linear-gradient(to bottom, #4b6cb7, #6cb7c1); /* Degradado azul y celeste */
  border-radius: 5px;
  transition: 0.3s;
}

nav ul li a:hover {
  background: linear-gradient(to bottom, #ff9000, #ffaa00); /* Degradado al pasar el cursor */
}
