/* Estilo general para el cuerpo de la página */
body {
  font-family: Copperplate, Arial, sans-serif;
  background: url('../imagenes/keiko2.jpeg') no-repeat center center fixed; /* Cambiar la URL de la imagen de fondo */
  background-size: cover;
  color: white;
  padding: 20px;
  margin: 0; /* Eliminar el margen predeterminado */
}


.containerr h2 {
  color: black;
}

.containerr {
  max-width: 800px;
  width: 380px;
  height: 380px;
  margin: 0 auto;
  border-radius: 10px; 
  background: linear-gradient(to bottom, #5880df, #6cb7c1); 
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row .col {
  flex: 1;
  margin-right: 5px;
}

.row .col:last-child {
  margin-right: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 88%;
  padding: 10px;
  border: none;
  background-color: #fff; 
  color: #333; 
  margin-bottom: 10px;
  border-radius: 8px; 
}

input[type="text"].username {
  width: 94%;
}

input[type="email"],
input[type="password"] {
  width: 94%;
}

button[type="button"] {
  width: 99%;
  padding: 10px;
  border: none;
  background: linear-gradient(to bottom, #3c6fba, #3a70a6); 
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px; 
}

.login-link {
  color: black;
  text-decoration: none;
}

p {
  font-size: 15px;
}
