.update-book-form {
    max-width: 550px;
    width: 800px; /* Añade 'px' después del valor numérico */
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  
  .update-book-form .title {
      width: 100%;
      margin-bottom: 20px;
  }
  .update-book-form {
    max-width: 550px;
    width: 480px;
    
    margin: 0 auto;
    border-radius: 5px;
    background: #3f0681;
    padding: 20px;
    text-align: center;

  }
  .update-book-form .title h2 {
      color: #000000; 
      text-align: center;
  }
  
  .update-book-form .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  
  .buttons button {
      border: 2px solid #782dbe;
      width: 30%;
  }
  
.information input{
    background-color: #36234c;
    width: 94%;
}
.information textarea{
    background-color: #36234c;
    width: 94%;
}