.vender-form {
  max-width: 500px;
  width: 400px;
  margin:  auto;
  border-radius: 6px;
  background-color: #5503b3;
  padding: 10px;
  text-align: center;
}

form h2 {
    text-align: left;
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
}

form label {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

form input,
form textarea {
    width: 89%;
    padding: 10px;
    border: none;
    background-color: #222;
    color: white;
    margin-bottom: 10px;
}

form p {
    font-size: 15px;
    color: white;
    text-align: left;
}

form p a {
    color: orange;
    text-decoration: none;
}

.vender-form button {
    width: 48%;
    padding: 10px;
    border: none;
    background-color: #3e0c6d;
    color: black;
    font-size: 20px;
    margin-right: 2%; 
}

.vender-form button:hover{
    background-color: #360267;
}


.vender-form input{
    background-color: #3e215b;
    width: 95%;
}
.vender-form textarea{
    background-color: #3e215b;
    width: 95%;
}