body {
  margin: 0;
  padding: 0;
  background-image: url(./imagenes/keiko2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}
